@import "../variables";

body {
  background-color: #fafafa !important;
}

.admin-content {
  padding: 25px;
}

.button {
  color: #fff;
  background-color: $secondry-theme-color;
  padding: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  padding: 0 48px;
}
// .button:active,
// .button:hover {
//   color: #333;
//   background-color: #fff;
// }

.account-header {
  background: #fafbfc;
  padding: 0 12px;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  box-shadow: 0px 0px 6px 1px #cbcbcb;
  .logo {
    padding: 0;
    a {
      color: $primary-theme-color;
      padding: 16px;
      font-size: 22px;
    }
  }
  .user-info-dropdown {
    .profile-logo {
      font-size: 30px;
    }
    position: relative;
    .dropdown {
      position: absolute;
      top: 43px;
      right: 0;
      width: 196px;
      padding: 14px 0;
      background: #fff;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      li a {
        padding: 8px 23px;
        display: block;
        &:hover {
          background-color: #e4e4e4;
        }
      }
    }
  }

  .right-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .panel-item {
      padding: 0 10px;

      button {
        padding: 5px 15px;
      }

      svg {
        margin: 0 5px;
      }
    }
  }
  a {
    color: #333;
    padding: 20px 35px;
    display: block;
  }
  a:hover {
    text-decoration: none;
    color: $primary-theme-color;
  }
  .left-panel {
    padding-left: 0px;
  }
}

// sidebar css

.account-content {
  display: flex;

  .sidebar {
    box-shadow: 0px 0px 10px -5px #959595;
    position: relative;
    z-index: 1;
    background-color: #fff;
    height: 100vh;
    .nav-bar {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      box-shadow: rgba(0, 0, 0, 0.05) 7px 0px 60px 0px;

      height: 100%;
      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
      li {
        padding-bottom: 8px;
      }

      a {
        text-decoration: none;
        padding: 15px 24px;
        font-size: 14px;
        display: block;
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding-right: 40px;
        svg {
          font-size: 22px;
          margin-right: 18px;
          opacity: 0.6;
          transition: all 0.3s;
        }
      }
      a:hover {
        background: #e0f3ff;
        text-decoration: none;
        svg {
          opacity: 1;
        }
      }
      a.active {
        svg {
          opacity: 1;
        }
      }
    }
  }
}

.nav-bar a.active {
  color: #4d148c;
}

.app-page-title {
  box-shadow: 0px 0px 10px -5px #959595;
  background: hsla(0, 0%, 100%, 0.55);
  padding: 30px;
  position: relative;
  color: rgb(73, 80, 87);
  .page-title-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .page-title-heading {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .page-title-icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0.83333rem;
    margin: 0 30px 0 0;
    background: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03),
      0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05),
      0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);
    border-radius: 0.25rem;
    width: 60px;
    height: 60px;
  }
  svg {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #009efd;
  }
}

.a-banner {
  h6 {
    display: block;
    margin-bottom: 15px;
  }
}

.order-landing {
  text-align: center;
  .img-wrp {
    img {
      height: 300px;
      width: auto;
      margin: 0 auto;
    }
  }
}
.account-layout-content {
  width: 100%;
}

.my-account-content {
  position: relative;
  margin: 30px;
}
.my-account-content-bg {
  background-color: #fff;
}
.order-nav-tabs {
  background-color: #fff;
  .tab-content-wrap {
    padding: 0 20px;
    padding-bottom: 100px;
  }
}
.my-account-content-sec {
  padding: 20px;
}

.price-setting-sec {
  padding: 20px;
}

.order-card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.order-card-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 56px;
  text-transform: uppercase;
  color: rgba(18, 21, 78, 0.7);
  font-weight: 700;
  font-size: 0.88rem;
  background-color: #fff;

  .btn-actions-pane-right {
    margin-right: auto;
    white-space: nowrap;
    text-transform: capitalize;
    color: rgba(18, 21, 78, 0.7);
    font-weight: 700;
    font-size: 0.88rem;
    a {
      font-size: 12px;
      font-weight: 500;
    }
  }
  .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }
}

.order-right-sec {
  margin-left: auto;
}

.order-list {
  padding-top: 10px;
  border: 1px solid #e4e4e4;
  border-top: 0px solid red;
  .list-item {
    padding: 10px;
    border-radius: 0px !important;
    border-bottom: 1px solid #e4e4e4;
    &.head {
      font-weight: 600;
    }
    &:last-child {
      border-bottom: 0px solid red;
    }

    display: flex;
    text-align: center;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    .info-sec {
      width: 20%;
    }
  }
}

.add-order-form {
  textarea {
    height: 38px;
  }
  .form-group {
    padding-right: 30px;
  }

  .check-group {
    span {
      padding-left: 20px;
    }
    label {
      margin-right: 25px;
      position: relative;
      input {
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
  .form-sec-content {
    .ip-field-wrp input {
      border-radius: 4px;
    }
    &.buyer-details {
      .form-group {
        width: 100%;
        margin-right: 20px;
        padding: 0;
        margin-bottom: 0;
      }
    }
    .address-lines {
      display: flex;
      .form-group {
        width: 50%;
      }
    }
  }
  .address-pincode-sec {
    display: flex;
  }
  .form-sec {
    // border: 1px solid #e1e1e1;
    background-color: white;
  }
}

.instructions {
  background-color: #fff;
  padding: 20px;
  .title {
    color: #333333;
    padding: 10px 0;
  }
  p {
    color: #666;
    padding: 0;
    font-size: 12px;
  }
  .sec {
    margin-bottom: 30px;
  }
}

.form-sec-head {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: 14px;

  svg {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 22px;
  }
}
.form-sec-label {
  padding: 5px 0;
  margin-bottom: 10px;
  color: #666;
  display: block;
}

.form-container {
  padding-bottom: 0;
}

.order-form-part {
  // margin-bottom: 25px;
  .form-container {
    padding-bottom: 85px;
  }
}
.new-order-form-part {
  .form-container {
    padding-bottom: 0px;
  }
}

.order-form-content {
}

.add-another-item {
  margin-bottom: 10px;
  .button {
    display: flex;
    align-items: center;
  }
  svg {
    font-size: 20px;
    margin-right: 10px;
  }
}

.add-order-form-wrap {
  background-color: #fff;
  padding: 20px;
}

.price-sec {
  display: flex;
  padding: 15px 0;
  .price-sec-content {
    width: 200px;
  }
}

.address-pickup-head {
  display: flex;
  justify-content: space-between;
}

.address-pickup {
  display: flex;
  .address-bar {
    width: 33.33%;
    padding-right: 30px;
  }
  .form-sec-content {
    height: 100%;
  }
}

.desclimer {
  padding: 15px 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: #fff0ff00;
  border-bottom: 1px solid #fafafa;
}
.order-form-part {
  border: 1px solid #e4e4e4;
}
.order-form-sec .form-sec {
  margin-bottom: 60px;
}
.add-order-form {
  .form-sec-label {
    padding-left: 10px;
  }
}

.account-wrp-tab {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 50px;
      width: 33.33%;
      a {
        display: inline-block;
        padding: 34px 89px;
        background-color: #e4e4e4;
        border-radius: 5px;
        text-align: center;
      }
    }
  }
}

.icon {
  &.big {
    font-size: 45px;
    &.full-width {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

.address-bar .form-sec-content {
  cursor: pointer;
  position: relative;
  .icon-wrp {
    position: absolute;
    top: 9px;
    right: 9px;
    color: green;
    display: inline-block;
    font-size: 12px;
    .icon {
      font-size: 14px;
      margin-left: 7px;
    }
  }
}

.user-info-thumb {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  .profile-forn-sec {
    width: 50%;
    padding: 0 30px;
  }
  .ip-field-wrp {
    padding: 0;
    width: 100%;
  }
  .item {
    margin-bottom: 20px;
  }
  span {
    margin-right: 50px;
  }
  .name,
  .name-text {
    width: 200px;
    display: inline-block;
    margin-right: 50px;
    height: 25px;
    line-height: 25px;
  }
  input {
    padding: 5px 10px;
  }
}

h6 {
  margin-bottom: 30px;
}

.coverage-area-wrp {
  .head {
    display: flex;
    justify-content: space-between;
  }
  strong {
    margin-bottom: 20px;
    display: inline-block;
  }
}

.coverage-list-wrp {
  margin-left: 10px;
}
.coverage-list {
  display: flex;
  flex-wrap: wrap;
  li {
    position: relative;
    margin-right: 10px;
    border: 1px solid #e4e4e4;
    padding: 2px 12px;
    margin-bottom: 10px;
    border-radius: 3px;
    svg {
      margin-left: 10px;
      font-size: 9px;
      position: relative;
      top: -1px;
      cursor: pointer;
    }
  }
  .dropdown {
    position: absolute;
    top: 20px;
    border: 1px solid #e4e4e4;
    z-index: 10;
    right: 15px;
    background-color: #fff;
  }
}

.add-more-items {
  width: 400px;
  .select {
    margin-bottom: 15px;
  }
}

.signup-options-wrp {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 50%;
    text-align: center;
    a {
      // padding: 10px 30px;
      // display: block;
      // margin: 50px;
      // margin-left: 5;
      // background-color: #4d148c;
      // color: #fff;
    }
  }
}

.nav-tabs .nav-link {
  padding: 14px 52px;
  border: 0px solid #fff;
  text-align: left;
  font-size: 16px;
}

.nav-tabs .nav-link.active {
  color: $primary-theme-color;
  border-bottom: 5px solid #4d148ca3;
}
.list-item-head {
  background: #f4f4f4;
  color: #000;
  display: flex;
  justify-content: space-around;
}

.list-orders {
  .list-item {
    padding: 18px;
    display: flex;
    justify-content: space-around;
    color: #000;
    border-bottom: 1px solid #00000014;
    .item-bar {
      width: 20%;
      padding: 0 3px;
    }

    .highlight {
      color: $primary-theme-color;
    }
  }
}
.address-lines {
  .add-address-wrp {
    display: flex;
  }
  .btn-wrp {
    margin: 0px;
  }
}

.address-list {
  display: flex;
  flex-wrap: wrap;
  .address-card {
    width: 50%;
  }
  .address-bar {
    margin: 30px;
    padding: 43px;
    background: #e9e9ea;
    position: relative;
  }
  .highlight {
    position: absolute;
    top: 10px;
    left: 41px;
    color: green;
    margin: 0;
    .icon {
      margin-left: 10px;
    }
  }
  .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.transporter-list {
  color: $primary-theme-color;
  .list-item {
    margin: 0 10px;
  }
  .list-card {
    &.selected {
      background-color: #0080004d;
    }
    display: flex;
    padding: 20px 10px;
    cursor: pointer;
    .detail-item {
      width: 25%;
    }
    .selected {
      color: green;
      .icon {
        margin-left: 10px;
      }
    }
  }
}

.order-form-sec {
  .package-details {
    .form-group {
      width: 25%;
      .select-bar {
        width: 100%;
      }
    }
  }
}

.price-setting-sec {
  .head {
    display: flex;
    align-items: center;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 14px;
    .icon {
      margin-left: 15px;
      cursor: pointer;
    }
  }
  .select-bar {
    margin: 0;
    width: auto;
    margin-bottom: 15px;
  }
  .btn-wrp {
    display: flex;
  }
  ul {
    color: #000;
  }
}
